.Login-login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Login-signinpanel {
    justify-content: center;
    align-items: center;
}

.Login-image-section {
    width: 65%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Login-form-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background: white;
}

.Login-form-logo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
}

.Login-input-group {
    width: 100%;
    margin-bottom: 15px;
}

.Login-input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.Login-input-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Login-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    color: gray;
    white-space: nowrap;
    gap: 0;
}
.Login-forgot-password{
  width: 120px;
}

.Login-password-group {
    position: relative;
}

.Login-password-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.Login-password-container input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    width: calc(100% - 40px);
}

.Login-eye-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.Login-eye-button svg {
    width: 20px;
    height: 20px;
}

.Login-top-box {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2em;
}