.main-container {
  display: flex; 
  height: 100vh; 
}

.home {
  flex-grow: 1;  /* Takes up the remaining space */
  display: flex;
  width: 100%;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: flex-start; /* Moves content to the top */
  padding: 10px;
  background-color: red ; 
  
}
.sidebar {
    width: 236px;
    background-color:#334257;
    height: 100vh;
    padding: 15px;
    overflow-y: auto;
    padding-top: 100px;
  }


  
  
  
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  
  
  .search-form {
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .section-title {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #94a5b6;
    margin-top: 10px;
  }
  
  .list-group-item {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: background 0.3s ease;
    background: transparent;
    
  }
  
  .icon {
    margin-right: 10px;
    flex-shrink: 0; /
  }
  
  
  .list-group-item:hover {
    color: red;
  }
  .content {
    margin-left: 20px; /* Space from the sidebar */
  }
  
  


   